.container {
  width: 120px;
  height: 120px;
}

.top_chair {
  position: absolute;
  z-index: 1;
}

.bottom_chair {
  position: absolute;
  z-index: 2;
  margin-top: 42px;
}

.opposite {
  transform: scaleX(-1);
  margin-left: 60px;
}
